.grid-main {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
